* {
	margin: 0;
	padding: 0px;
	box-sizing: border-box;
	color: #444;
	font-family: 'Montserrat', sans-serif;
}

header {
	display: flex;
	justify-content: space-around;
	height: 15vh;
	width: 100%;
	margin: auto 0;
    background-color: white;
}

.logo-container {
	display: inline-flex;
	padding: 0 50px 50px;
	position: relative;
	justify-content: flex-start;
}

.nav-links {
	padding: 50px;
	display: inline-flex;
	justify-content: space-around;
	width: 55%;
	color: #444;
}

.nav-links li {
	list-style: none;
	color: #444;
}

.nav-links a {
	text-decoration: none;
	color: white;
	font-weight: 200;
	font-size: 20px;
	color: #444;
}

nav a:hover {
	color: grey;
}

.burger {
	display: none;
	cursor: pointer;
}

.burger div {
	width: 25px;
	height: 3px;
	background-color: white;
	margin: 5px;
}

.slide {
	padding: 10px;
	display: flex;
	width: 96%;
	margin: auto;
	align-items: center;
}

.responsive {
	width: 100%;
	height: auto;
}

.container {
	margin: auto;
	display: flex;
	background-color: #F6F6F6
}

.title {
	
	color: black;
}

.left-top img, .left-btm img, .right img {
  transition: transform .5s ease;
}

.left-top:hover img, .left-btm:hover img {
	transform: scale(0.9);
}

.right:hover img {
	transform: scale(0.95);
}

.title h1 {
	width: 95%;
	border-bottom: 2px solid black;
}

.left {
	align-items: flex-start;
	font-size: 15px;
}

.text1, .text2, .text4 {
	background-color: #F6F6F6;
}

.text1:hover, .text2:hover, .text4:hover {
	color: grey;
}

.right {
	padding: 56px;
	align-items: flex-end;
}

.right h4 {
	margin: auto;
	padding: 10px;
}

.news-container {
	margin-left: 61px;
	width: 90.3%;
	display: flex;
	background-color: #F6F6F6;
}

.news-container h5 {
	margin-left: 15px;
	font-size: 35px;
	width: 95%;
	border-bottom: 2px solid black;
	background-color: #F6F6F6;
}

.article1 {
	position: absolute;
	text-decoration: none;
	margin-left: 61px;
	padding: 0 15px;
	width: 90.3%;
	display: flex;
	background-color: #F6F6F6;
}

.article-1a a {
	text-decoration: none;
	display: flex;
	padding: 0 50px;
	color: black;
	font-size: 20px
	width: 500%;
}

.article-1b a {
	text-decoration: none;
	display: flex;
	align-items: flex-end;
	width: 300%;
	padding: 100px;
	color: lightgray;
	font-size: 20px;
}

.style-two {
	position: relative;
	z-index: 9999;
	margin-top: 200px;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

@media screen and (max-width: 990px) {
	.nav-links {
		width: 40%;
	}
}

@media screen and (max-width: 780px) {
	body {
		overflow-x: hidden;
	}
	.nav-links {
		position: absolute;
		right: 0px;
		height: 92vh;
		top: 8vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		transform: translateX(100%);
		transition: transform 0.5s ease-in;
		color: white;
	}

	.nav-links li {
		opacity: 1;
	}

	.burger {
		display: block;
	}

}

.nav-active {
	transform: translateX(0%);
}

@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: translateX(100px);
	}

	to {
		opacity: 1;
		transform: translateX(0px);
	}
}
