* {
	margin: 0;
	padding: 0px;
	box-sizing: border-box;
	color: #444;
	font-family: 'Montserrat', sans-serif;
}

header {
	display: flex;
	justify-content: space-around;
	height: 15vh;
	width: 100%;
	margin: auto 0;
    background-color: white;
}

.logo-container {
	display: inline-flex;
	padding: 0 50px 50px;
	position: relative;
	justify-content: flex-start;
}

.nav-links {
	padding: 50px;
	display: inline-flex;
	justify-content: space-around;
	width: 55%;
	color: #444;
}

.nav-links li {
	list-style: none;
	color: #444;
}

.nav-links a {
	text-decoration: none;
	color: white;
	font-weight: 200;
	font-size: 20px;
	color: #444;
}

nav a:hover {
	color: grey;
}

.burger {
	display: none;
	cursor: pointer;
}

.burger div {
	width: 25px;
	height: 3px;
	background-color: white;
	margin: 5px;
}

.slide {
	padding: 10px;
	display: flex;
	width: 96%;
	margin: auto;
	align-items: center;
}

.responsive {
	width: 100%;
	height: auto;
}

.value-container {
	margin: 5%;
	width: 90%;
	display: flex;
	background-color: #F6F6F6
}

.title {
	color: #444;
}

.left-top img, .left-btm img, .right img {
  transition: transform .5s ease;
}

.left-top:hover img, .left-btm:hover img {
	transform: scale(0.9);
}

.right:hover img {
	transform: scale(0.95);
}

.title h1 {
	width: 95%;
	border-bottom: 2px solid #444;
}

.left {
	margin: auto;
	align-items: flex-start;
	font-size: 15px;
}

.text1, .text2, .text4 {
	background-color: #F6F6F6;
}

.text1:hover, .text2:hover, .text4:hover {
	color: grey;
}

.right {
	padding: 56px;
	align-items: flex-end;
}

.right h4 {
	margin: auto;
	padding: 10px;
}

.news-container {
	margin-left: 61px;
	width: 90.3%;
	display: flex;
	background-color: #F6F6F6;
}

.news-container h5 {
	margin-left: 15px;
	font-size: 35px;
	width: 95%;
	border-bottom: 2px solid black;
	background-color: #F6F6F6;
}

.article1 {
	position: absolute;
	text-decoration: none;
	margin-left: 61px;
	padding: 0 15px;
	width: 90.3%;
	display: flex;
	background-color: #F6F6F6;
}

.article-1a a {
	text-decoration: none;
	display: flex;
	padding: 0 50px;
	color: black;
	font-size: 20px
	width: 500%;
}

.article-1b a {
	text-decoration: none;
	display: flex;
	align-items: flex-end;
	width: 300%;
	padding: 100px;
	color: lightgray;
	font-size: 20px;
}

.article1 img {
  transition: transform .5s ease;
}

.article1:hover img {
	transform: scale(0.9);
}

.article2 img {
  transition: transform .5s ease;
}

.article2:hover img {
	transform: scale(0.9);
}

.article2 {
	position: absolute;
	text-decoration: none;
	margin-left: 61px;
	padding: 0 15px;
	width: 90.3%;
	display: flex;
	background-color: #F6F6F6;
}

.article-2a a {
	text-decoration: none;
	display: flex;
	padding: 0 50px;
	color: black;
	font-size: 20px
	width: 500%;
}

.article-2b a {
	text-decoration: none;
	display: flex;
	align-items: flex-end;
	width: 300%;
	padding: 100px;
	color: lightgray;
	font-size: 20px;
	z-index: -1;
}

.more-btn {
	z-index: 99999;
	width: 90.3%;
	margin-top: 800px;
	margin: auto;
	display: flex;
	justify-content: center;
	background-color: white;
}

.more-btn a {
	font-size: 24px;
	color: lightgray;
}

.style-zero {
	position: relative;
	z-index: 9999;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.style-one {
	position: relative;
	z-index: 9999;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.style-two {
	position: relative;
	z-index: 9999;
	margin-top: 200px;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.style-three {
	position: relative;
	margin-top: 250px;
    border: 0;
    z-index: 9991;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.vid-container {
	display: flex;
	margin: auto;
	justify-content: flex-start;
	background-color: #F6F6F6;
	width: 90.3%;
}

.vid-length {
	width: 30%
}

.vid-title h6{
	margin: auto;
	font-size: 30px;
	border-bottom: 2px solid black;
}

.vid {
	margin: auto;
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px 30px 0 0px;
}

.social {
	display: flex;
	justify-content: center;
	align-items: center;
}

.sponsor {
	background-color: black;
	height: 10vh;
}

.sponsor h7 {
	padding: 25px;
	display: flex;
	color: white;
	font-size: 30px;
}

.subscribe {
	margin: auto;
	width: 25%;
}

.subscribe img {
	justify-content: flex-start;
	margin-top: 20px;
	margin-left: 30px;
	transition: transform .5s ease;
}

.subscribe img:hover {
	transform: scale(0.9);
}

.subscribe a {
	font-size: 24px;
	color:  #444;
	display: flex;
	justify-content: center;
	padding: 10px 160px;
}

@media screen and (max-width: 780px) {
	body {
		overflow-x: hidden;
	}
	.nav-links {
		position: absolute;
		right: 0px;
		height: 92vh;
		top: 8vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		transform: translateX(100%);
		transition: transform 0.5s ease-in;
		color: white;
	}

	.nav-links li {
		opacity: 1;
	}

	.burger {
		display: block;
	}

}

.nav-active {
	transform: translateX(0%);
}

@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: translateX(100px);
	}

	to {
		opacity: 1;
		transform: translateX(0px);
	}
}
